<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        .container {
            margin-top: 100px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <form action="" class="login" method="post">
                <div class="form-group">
                    <label for="username">用户名：</label>
                    <input type="text" name="username" class="form-control"
                           id="username">
                </div>
                <div class="form-group">
                    <label for="password">密码：</label>
                    <input type="password" id="password" name="password"
                           class="form-control">
                </div>
                <div class="checkbox">
                    <label for="">
                        <input type="checkbox" name="remember">记住用户名
                    </label>
                </div>
                <div class="form-group">
                    <button class="btn btn-info" id="btn">登录</button>
                    <a href="/user/reg">
                        <button type='button' class="btn btn-success"
                                id="reg">注册
                        </button>
                    </a>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="/static/js/log.js"></script>
{% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}')
        {% endfor %}
    </script>
{% endif %}
<script>

</script>

</body>
</html>