<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src='./js/jquery.min.js'></script>
    {% load static %}
    <style>
         table {
            list-style: none;
            border: none;
            margin: 0 auto;
        }
        .luck {
            transition: 0.05s;
            border: solid 5px rgba(200, 200, 200, 0);
        }
        .gre {
            border: 5px solid greenyellow;
        }

    </style>
</head>
<body>
{#<img src="{% static 'images/prize1.jpg'  %}" alt="">#}
<div class="div1">
    <table>
        <tr>
            {% for prize in prizes %}
{#                {% if forloop.counter|divisibleby:'3' %}#}
                {% if forloop.counter == 4 or forloop.counter == 7 %}
                    </tr>
                    <tr>
                {% endif %}
            {% if forloop.counter == 5 %}
                <td><img src="{% static 'images/prize9.jpg' %}"
                         alt=""></td>
            {% else %}
                <td><img class="luck" src='{{ prize }}' alt="aha"></td>
            {% endif %}

            {% if forloop.counter == 8 %}
                <td><img class="luck" src='{{ prizes.4 }}' alt="aha"></td>
                </tr>
            {% endif %}
            {% endfor %}
    </table>
</div>

</body>
</html>