<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update_book</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <form action="" method="post" class="form-control">
        <div class="form-group">
            <label for="title"> title:</label>
            <input type="text" name="title"
                   disabled value="{{ book.title }}">
        </div>
        <div class="form-group">
            <label for="pub">pub:</label>
            <input type="text" disabled name="pub" value="{{ book.pub }}">
        </div>
        <div class="form-group">
            <label for="price">price:</label>
            <input type="text" disabled name="price" value="{{ book.price }}">
        </div>
        <div class="form-group">
            <label for="marketPrice">market_price</label>
            <input type="text" name="marketPrice"
                   value="{{ book.market_price }}">
        </div>
        <button>更新</button>
    </form>
    <script>
        var form = document.getElementsByTagName('form')[0];
        form.action = location
    </script>
</div>
</body>
</html>