<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<h1>测试页面</h1>
{#<h2 >这是{{ str }}第一个模板，他今年{{ age }}岁</h2>#}
<h3> str is {{ str }}</h3>
<h3> int is {{ int }}</h3>
<h3> lst is {{ lst }}</h3>
<h3> lst[01] is {{ lst.1 }}</h3>

<h3> dic is {{ d }}</h3>
<h3> dic[name] is {{ d.name }}</h3>

<h3>function is {{ function }}</h3>
<h3>obj is {{ obj }}</h3>
<h3>obj is {{ obj.say }}</h3>y


<h3>script is {{ script }}</h3>
{#<h3>script is safe {{ script|safe }}</h3>#}


</body>
</html>